<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styleSite/style.css">
    <link rel="stylesheet" href="../../public/esqueceuASenha/styleSenha.css">
    <link rel="icon" type="image/x-icon" href="../../public/imagens/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <title>Esqueci minha senha</title>
</head>
<body>

  

    <div class="container_" id="container_" tabindex="0" onfocus="closeSidebar()">
  <app-bar></app-bar>
    
        <div class="esqueceu">
            <strong>Esqueceu sua senha?</strong>
            <p>Preencha com seu email e uma senha nova.</p>
    
            <form id="formSenha">
                <input id="email" type="email" placeholder="Seu email" required><br>

                <div><input class="senha" id="senha" type="text" placeholder="Sua nova senha" required>
                    <button type="button" class="botao" id="botao">
                        <img class="olho" id="olho" src="../../public/imagens/aberto.png"></button>
                    </div><br>

                <div><input class="senha" id="senha2" type="text" placeholder="Repita a nova senha" required>
                    <button type="button" class="botao" id="botao2">
                        <img class="olho" id="olho2" src="../../public/imagens/aberto.png"></button>
                    </div><br>

                <div id="msg"></div>

                <input type="submit" id="input" value="Enviar">
            </form>
    
        </div>
    
    
    
        </div>
        <script src="../../public/appBarRodape.js"></script>

    <script type="module" src="../../public/styleSite/stylePop.js"></script>
    <script src="../../public/minhaConta/senha.js"></script>
    <script src="../../public/scriptPopUp.js"></script>
    <script src="../../public/menuResponsivo.js"></script>
    <script type="module" src="../../public/recuperarSenha/senhaNova.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>